.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vh;
}

.biscoito{
    width: 150px;
    height: 150px;
    margin-top: 10px;
}